name: CI

on:
  pull_request:
    types: [opened, synchronize, reopened]
  push:

jobs:
  build_and_test:
    strategy:
      fail-fast: false
      matrix:
        target:
          - { name: Windows, os: windows-2022, triple: x86_64-pc-windows-msvc }
        version:
          - nightly-2021-10-26
          - nightly-2021-10-27
          - nightly-2021-10-28
          - nightly-2021-10-29
          - nightly-2021-10-30
          - nightly-2021-10-31

    name: ${{ matrix.target.name }} / ${{ matrix.version }}
    runs-on: ${{ matrix.target.os }}

    env:
      CI: 1
      CARGO_INCREMENTAL: 0
      VCPKGRS_DYNAMIC: 1

    steps:
      - uses: actions/checkout@v2

      # install OpenSSL on Windows
      # TODO: GitHub actions docs state that OpenSSL is
      # already installed on these Windows machines somewhere
      - name: Set vcpkg root
        if: matrix.target.triple == 'x86_64-pc-windows-msvc'
        run: echo "VCPKG_ROOT=$env:VCPKG_INSTALLATION_ROOT" | Out-File -FilePath $env:GITHUB_ENV -Append
      - name: Install OpenSSL
        if: matrix.target.triple == 'x86_64-pc-windows-msvc'
        run: vcpkg install openssl:x64-windows

      - name: Install ${{ matrix.version }}
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.version }}-${{ matrix.target.triple }}
          profile: minimal
          override: true

      - name: Generate Cargo.lock
        uses: actions-rs/cargo@v1
        with: { command: generate-lockfile }
      - name: Cache Dependencies
        uses: Swatinem/rust-cache@v1.2.0

      - name: Install cargo-hack
        uses: actions-rs/cargo@v1
        with:
          command: install
          args: cargo-hack

      - name: check minimal
        uses: actions-rs/cargo@v1
        with: { command: ci-min }

      - name: check minimal + tests
        uses: actions-rs/cargo@v1
        with: { command: ci-min-test }

      - name: check default
        uses: actions-rs/cargo@v1
        with: { command: ci-default }
      
      - name: check full
        uses: actions-rs/cargo@v1
        with: { command: ci-full }

      - name: tests
        uses: actions-rs/cargo@v1
        timeout-minutes: 40
        with:
          command: ci-test
          args: --skip=test_reading_deflate_encoding_large_random_rustls

      - name: Clear the cargo caches
        run: |
          cargo install cargo-cache --version 0.6.3 --no-default-features --features ci-autoclean
          cargo-cache
